.navigation {
    position: fixed;
    right: 10px;
    top: 12px;

    @media screen and (max-width: $small) {
        top:9px;
    }

    .user {
        margin-right: 10px;
        @media screen and (max-width: $xsmall) {
            display:none;
        }
    }
}

span.subtitle {
    font-size: 0.7em;
    @media screen and (max-width: $small) {
        display:none;
    }
}

header.header {

}

div.titles {
    margin-left: 10px;
}
