<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-edit"><span id="editname"></span></i>&nbsp;&nbsp;&nbsp;修改密码</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="oldPwd" class="col-lg-2 control-label">原密码</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="oldPwd" placeholder="原密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPwd" class="col-lg-2 control-label">新密码</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="newPwd" placeholder="新密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmNewPwd" class="col-lg-2 control-label">确认密码</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="confirmNewPwd" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <a  id="submitPwd"  class="btn btn-info"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交</a>
                            <span class="remind"></span>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>