<!--header start-->
<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <!--<div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>-->
        <span><i class="icon-anchor" style="color: whitesmoke"></i></span>
    </div>
    <!--logo start-->
    <a href="#" class="logo" ><img src="images/duty_logo.png"></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            <li>
                <a  href="/">
                    <i class="fa fa-home">&nbsp;&nbsp;首页</i>
                </a>
            </li>
            <li>
                <a href="/cal">
                    <i class="fa fa-calendar">&nbsp;&nbsp;排班</i>
                </a>
            </li>
            <li>
                <a href="/road">
                    <i class="fa fa-road">&nbsp;&nbsp;路况</i>
                </a>
            </li>
            <li>
                <a  href="/base-dd">
                    <i class="fa fa-cogs">&nbsp;&nbsp;基础信息</i>
                </a>
            </li>

            <!-- settings end -->
            <!-- inbox dropdown start-->
            <!-- inbox dropdown end -->
            <!-- notification dropdown start-->
            <!-- notification dropdown end -->
        </ul>
    </div>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <!--<li>
                <input type="text" class="form-control search" placeholder="Search">
            </li>-->
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown"  class="dropdown-toggle" href="#">
                    <img alt="" src="images/avatar1_small.jpg">
                    <span class="username">刘宇刚</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a href="#"><i class="fa fa-suitcase"></i>个人信息</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i> 设置</a></li>
                    <li><a href="#"><i class="fa fa-bell"></i> 通知</a></li>
                    <li><a href="login.html"><i class="fa fa-key"></i> 退出</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
    </div>
</header>