
	<meta charset="UTF-8">
	<title>浦东交警勤务排班系统</title>
	<link rel="Shortcut Icon" href="images/ramsicon.png" type="image/x-icon" />
	<!-- Bootstrap -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="stylesheets/bootstrap-reset.css" media="screen">
	<!--external css-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/jquery.gritter.css" media="screen">
    <!-- Custom styles for this template -->
	<link rel="stylesheet" href="stylesheets/style.css" media="screen">
	<link rel="stylesheet" href="stylesheets/style-responsive.css" />
