 {
 "parser": "babel-eslint",
 "extends": "airbnb",
 "plugins": [
    "jsx-a11y"
  ],
  "rules": {
      "linebreak-style": ["error", "windows"],
      "indent": ["error", 4],
      "react/jsx-indent": ["error", 4],
      "react/jsx-first-prop-new-line": 0,
      "jsx-a11y/aria-role": 0,
      "jsx-a11y/img-has-alt": 0,
      "jsx-a11y/img-redundant-alt": 0,
      "react/jsx-curly-spacing": 0,
      "no-console": 0,
      "no-param-reassign": 0,
      "comma-dangle": ["error", "never"],
      "arrow-parens": 0,
      "react/forbid-prop-types": 0
  },
  "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "jest": true
    }
 }
