.editableLabel {
    .view {
        .editIcon {
            color: $color-primary;
            font-size: 0.8em;
        }
    }

    .edit {
        margin: auto;

        textarea {
            width: 100%;
            background: none;
            border: none;
            outline: none;
        }
    }
}
