<!--大队管理页面-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <aside class="profile-nav col-lg-2">
                <section class="panel">

                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/base-dd"> <i class="fa fa-th-large"></i> 大队管理</a></li>
                        <li><a href="/base-zd"> <i class="fa fa-th"></i> 中队管理 </a></li>
                        <li><a href="/base-post"> <i class="fa fa-address-book"></i> 岗位管理</a></li>
                        <li  class="active"><a href="/base-police"> <i class="fa fa-group"></i> 警员管理</a></li>
                    </ul>

                </section>
            </aside>
            <aside class="profile-info col-lg-10">
                <section class="panel">
                    <div class="panel-body bio-graph-info">
                            <h1 class="drg-event-title">警员信息管理</h1>
                        <div class="panel-body">
                            <form class="form-horizontal tasi-form">
                                <!--select picker start-->

                                <div class="form-group">
                                    <label class="control-label col-sm-1">所属大队</label>

                                    <div class="col-sm-4">
                                        <select class="form-control m-bot15" id="query_dadui">
                                            <option value="*">全部</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">名字</label>

                                    <div class="col-sm-4">
                                        <input type="text" id="query_name" class="cp2 form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-1">所属中队</label>

                                    <div class="col-sm-4">
                                        <select class="form-control m-bot15" id="query_zhongdui">
                                            <option value="*">请先选择大队</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-sm-1">警号</label>

                                    <div class="col-sm-4">
                                        <input type="text" id="query_policenumber" class="cp2 form-control">
                                    </div>
                                </div>
                                <!--select picker end-->
                                <div class="form-group">
                                    <label class="control-label col-sm-1">岗位</label>

                                    <div class="col-sm-4">
                                        <select class="form-control m-bot15" id="query_post">
                                            <option value="*">请先选择中队</option>
                                        </select>
                                    </div>

                                    <label class="control-label col-sm-1"></label>
                                    <div class="col-sm-4">
                                        <a id="query_Btn" class="btn btn-success">
                                            <i class="glyphicon glyphicon-search"></i> &nbsp;&nbsp;&nbsp;查&nbsp;&nbsp;&nbsp;询&nbsp;&nbsp;&nbsp;
                                        </a>
                                        <button type="reset"  class="btn btn-warning">
                                            <i class="glyphicon glyphicon-refresh"></i> &nbsp;重置 &nbsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="toolbar" style="margin: 10px">
                            <section class="panel">
                                <div class="panel-body">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <button id="remove" class="btn btn-danger" disabled>
                                                <i class="glyphicon glyphicon-trash"></i> 删除
                                            </button>
                                        </div>

                                        <div class="form-group">
                                            <a id="add" class="btn btn-success" data-toggle="modal" href="#modal_new">
                                                <i class="glyphicon glyphicon-plus"></i> 新建
                                            </a>
                                        </div>
                                        <div class="form-group">
                                            <a id="cancel" class="btn btn-warning" style="display:none">
                                                <i class="icon icon-remove-circle">取消</i>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                            <section class="panel">
                                <table id="policeTable"></table>
                            </section>
                    </div>
                </section>

            </aside>
        </div>

        <!-- page end-->
    </section>
</section>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_new" class="modal fade">
    <div class="modal-dialog" style="width: 710px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-new-window"><span id="editname"></span></i>&nbsp;&nbsp;&nbsp;新建警员</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal has-js" role="form">
                    <div class="form-group">
                        <label  class="col-lg-2 control-label">名字</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" id="new_name" placeholder="名字">
                        </div>
                        <div class="radios col-lg-6">
                            <label class="label_radio" for="radio-01">
                                <input name="sample-radio" id="radio-01" value="1" type="radio" checked />男
                            </label>
                            <label class="label_radio" for="radio-02">
                                <input name="sample-radio" id="radio-02" value="2" type="radio" /> 女
                            </label>
                            <label class="label_radio" for="radio-03">
                                <input name="sample-radio" id="radio-03" value="0" type="radio" checked/> 保密
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label">警号</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" id="new_policenumber" placeholder="警号">
                        </div>
                        <label  class="col-lg-2 control-label">手台号</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" id="new_tetra_id" placeholder="手台号">
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-lg-2 control-label">所属大队</label>
                        <div class="col-lg-4">
                            <select class="form-control" id="new_dadui"><option value="*">全部</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label">所属中队</label>
                        <div class="col-lg-4">
                            <select class="form-control" id="new_zhongdui"><option value="*">请先选择大队</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-lg-2 control-label">所属岗位</label>
                        <div class="col-lg-4">
                            <select class="form-control" id="new_post"><option value="*">请先选择中队</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">备注</label>
                        <div class="col-lg-10">
                            <textarea rows="6" class="form-control" id="new_remark" placeholder="备注"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <a  id="submit_new"  class="btn btn-info"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交</a>
                            <span class="remind"></span>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
{{#section 'css'}}
    <link rel="stylesheet" href="stylesheets/select2-bootstrap.css" media="screen">
    <link rel="stylesheet" href="stylesheets/select2.css" media="screen">
    <link rel="stylesheet" href="stylesheets/bootstrap-table.css" media="screen">
    <link rel="stylesheet" href="stylesheets/bootstrap-editable.css" media="screen">
{{/section}}
<!--main content end-->
{{#section 'js'}}
    <script src="javascripts/lib/select2.js"></script>
    <script src="javascripts/base-police.js"></script>
{{/section}}

