
<!--header end-->
<!--sidebar start-->
<!--   <aside>
       <div id="sidebar"  class="nav-collapse ">
         <div>
   </aside>-->
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">

            <aside class="col-lg-5">
                <section class="panel">
                    <div class="panel-body">
                        <div id="index_calendar" class="has-toolbar"></div>
                    </div>
                </section>
            </aside>

            <aside class="col-lg-7" style="margin-left: -10px;">
                <!--widget start-->
                <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue">
                        <ul class="nav nav-tabs nav-justified ">
                            <li class="active">
                                <a href="#tab_dutylist" data-toggle="tab">
                                    值班表上报情况
                                </a>
                            </li>
                            <li>
                                <a href="#duty_upfile" data-toggle="tab">
                                    上报值班表
                                </a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">
                            <div class="tab-pane active" id="tab_dutylist">
                                <section class="panel" id="dadui_duty_table" style="height: 550px !important;">
                                    <table   class="table  table-hover">
                                        <thead>
                                        <tr>
                                            <th><i class="icon-archive"></i> 上报单位</th>
                                            <th><i class="icon-upload-alt"></i> 是否上报</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">二大队</a></td>
                                            <td><span class="label label-danger label-mini"><i class="fa fa-info-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">二大队</a></td>
                                            <td><span class="label label-danger label-mini"><i class="fa fa-info-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">二大队</a></td>
                                            <td><span class="label label-danger label-mini"><i class="fa fa-info-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">二大队</a></td>
                                            <td><span class="label label-danger label-mini"><i class="fa fa-info-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">一大队</a></td>
                                            <td><span class="label label-info label-mini"><i class="fa fa-check-circle"></i></span></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">二大队</a></td>
                                            <td><span class="label label-danger label-mini"><i class="fa fa-info-circle"></i></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                            <div class="tab-pane" id="duty_upfile">
                                <section class="panel">
                                    <div class="panel-body">
                                        <form role="form">
                                            <div class="form-group">
                                                <label for="excelInputFile">Excel上传</label>
                                                <a type="button" href="file/xx.xx交保岗位派岗表.xlsx" class="btn btn-round btn-default btn-xs">模板下载</a>
                                                <input  type="file" class="file-loading" multiple  id="excelInputFile">
                                                <p class="help-block"></p>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>
                </section>
                <!--widget end-->



            </aside>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->

{{#section 'css'}}
    <link rel="stylesheet" href="fullcalendar/bootstrap-fullcalendar.css"/>
    <link rel="stylesheet" href="fileinput/fileinput.min.css"/>
 {{/section}}
{{#section 'js'}}
    <script src="fullcalendar/fullcalendar.min.js"></script>
    <script src="fileinput/fileinput.min.js"></script>
    <script src="fileinput/fileinput_zh.js"></script>
    <script src="javascripts/lib/external-dragging-calendar.js"></script>
    <script src="javascripts/index.js"></script>
{{/section}}