div.post {
    margin:10px;

    flex: 1 1 auto;
    transition: width 0.7s ease-out;

    &.well {
        [data-react-toolbox="card"] {
            background-color: $color-well;
        }
    }

    &.notWell {
        [data-react-toolbox="card"] {
            background-color: $color-notWell;
        }
    }

    &.ideas {
        [data-react-toolbox="card"] {
            background-color: $color-ideas;
        }
    }
    .card {
        width: 350px;
        position: relative;

        @media screen and (max-width: $xsmall) {
            width: 100%;
        }

        div.actions {
            button.like {
                background-color: $color-like;
                color: white;
            }

            button.like.disabled {
                background-color: $color-like-secondary;
            }

            button.dislike {
                background-color: $color-dislike;
                color: white;
            }
            button.dislike.disabled {
                background-color: $color-dislike-secondary;
            }
            button.deleteButton {
                background-color: $palette-red-300;
                color: white;
            }
        }
    }


}
