.sessionName {
    .name {
        color: $color-primary-dark;
        font-size: $font-size-big;

        .editIcon {
            color: $color-primary;
            font-size: 0.8em;
        }
    }

    .edit {
        width: 350px;
        margin: auto;
        position: relative;
        top: -25px;
    }

    height: 30px;
}
