div.summary {

    .well {
        background-color: $color-well;
    }

    .notWell {
        background-color: $color-notWell;
    }

    .ideas {
        background-color: $color-ideas;
    }

    span.subtitle {
        color: grey;
        padding-left: 20px;
    }

    li {
        padding-top: 5px;
    }

    span.like {
        color: $color-like;
    }

    span.dislike {
        color: $color-dislike;
        padding-right: 10px;
    }
}
